body {
    padding-top: 60px;
    font-size: 18px;
}

div.listDIV {
    width: 600px;
    margin: 0 auto;
}

div.editDIV {
    width: 600px;
    margin: 0 auto;
}

nav.pageDIV {
    text-align: center;
}

div.addDIV {
    width: 600px;
    margin: 0 auto;
}

table.addTable {
    width: 100%;
    padding: 5px;
}

table.addTable td {
    padding: 5px;
}

table.editTable {
    width: 100%;
    padding: 5px;
}

table.editTable td {
    padding: 5px;
}

.table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success {
    background-color: lightskyblue;
}
.panel-success>.panel-heading{
    background-color: lightskyblue;
    text-align: center;
}
.btn-success{
    background-color: cornflowerblue;
    border-color:cornflowerblue;
    width: 194px;
    border-radius: 15px;
    height: 31px;
    margin-left: 10px;
}

input{
    border-radius: 15px;
    width: 194px;
}
input[type=radio]{
    margin-top: 0;
    width: 13px;
}
.radio-inline:first-child{
    margin-left: 5px;
}
.panel-title{
    font-size: 20px;
}
caption{
    font-size: 20px;
    text-align: center !important;
}